@model IEnumerable<BlogSite.Models.Category>
@{
    Layout = null;   
}
<h4>Categories</h4>
<div class="row">
    <div class="col-lg-6">
        <ul class="list-unstyled">
            @foreach (var item in Model)
            {
                <li>
                    @*<a href="#">@item.Category_Name</a>*@
                    @Html.ActionLink(@item.Category_Name, "ArticleinCategories", "Home", new { id=@item.Category_id})
                </li>
            }    
        </ul>
    </div>
    <!-- /.col-lg-6 -->
 </div>
